<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: poppins;
}

/* Style the header */
header {
  background-color: #163caa;
  padding: 30px;
  text-align: center;
  font-size: 30px;
  color: white;
}


/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color:;
  padding: 10px;
  text-align: center;
  color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">

<header  style=" background-color: #163caa;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;">
 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Ranbaxy_Logo.svg/1920px-Ranbaxy_Logo.svg.png"  height="40px" width="auto" alt="Interwork_logo"   >
</header>

<div  style="height: 100%;width: 100%" >
<h1>Dear User ,
</h1>
<p>Welcome to  <span style="color:#163caa" >InterMed</span> . The user ID (or username) of your InterMed account is  <span style="color: red"> user12@brandname.com</span> and password is
<span style="color: red">  b6F7$g01</span> and this is what you will use to get your  InterMed system setup.   Just follow the below instructions and you'll be up and running in no time.
</p>

<p>

Step 1: Click on this link to open the login page :  https://www.brandname/interwork/loginpage/#  <br>
Step 2 : Type in your username and password ( as provided above)  <br>
Step 3 : (Optional) Click on forgot password and follow the guidelines in reset  password mail to set your own password for your InterMed account. <br>
</p>
<p>

Once InterMEd is set up, it stores your transactions on real time basis. You will be able to verify your transactions as well as of your prior and latter trading partners.
<br>

InterMed assures you to carry out your transactions without a flaw as it prevents all the counterfeiting situations that might ever come in your way.

</p>
<p>
We hope you enjoy using InterMed.
</p>

<p>

Sincerely ,
BrandName

</p>

</div>



<footer>
    <div align="right">
            <table><tr><td><b>Powered By</b> </td><td><img src="https://dfm.nrr.mybluehost.me/wp-content/uploads/2018/09/Logo-IW_jpg.jpg" height="30" width="auto" ></td></tr></table>
    </div>


</footer>

</div>

</body>
</html>
