<!DOCTYPE html>
<html lang="en">
<head>
<title>Confirmtion Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: poppins;
}

/* Style the header */
header {
  background-color: #163caa;
  padding: 30px;
  text-align: center;
  font-size: 30px;
  color: white;
}


/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color:;
  padding: 10px;
  text-align: center;
  color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

</head>
<body>
<div class="container"  style="font-family: 'Poppins', sans-serif;">

<header  style=" background-color: #163caa;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;">
 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Ranbaxy_Logo.svg/1920px-Ranbaxy_Logo.svg.png"  height="40px" width="auto" alt="Interwork_logo"   >
</header>

<div  style="height: 100%;width: 100%" >

<h1> Hey there,
</h1>

<p>
Thanks for signing up for InterMed ! We're excited to help you be on track .
</p>
<p>

A request to verify your details and licenses has been made . You will soon receive  a welcome email along with your login credentials .

</p>
<p>
Thank you , <br>
Team {{brandname}}
</p>






</div>



<footer>
    <div align="right">
            <table><tr><td><b>Powered By</b> </td><td><img src="https://dfm.nrr.mybluehost.me/wp-content/uploads/2018/09/Logo-IW_jpg.jpg" height="30" width="auto" ></td></tr></table>
    </div>


</footer>

</div>

</body>
</html>
